%%%----------------------------------------------------------------------
%%%
%%% ejabberd, Copyright (C) 2002-2017   ProcessOne
%%%
%%% This program is free software; you can redistribute it and/or
%%% modify it under the terms of the GNU General Public License as
%%% published by the Free Software Foundation; either version 2 of the
%%% License, or (at your option) any later version.
%%%
%%% This program is distributed in the hope that it will be useful,
%%% but WITHOUT ANY WARRANTY; without even the implied warranty of
%%% MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
%%% General Public License for more details.
%%%
%%% You should have received a copy of the GNU General Public License along
%%% with this program; if not, write to the Free Software Foundation, Inc.,
%%% 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
%%%
%%%----------------------------------------------------------------------

%% Macros
{roster_gateway_workaround, false}.
{full_xml, false}.
{db_type, generic}.
{debug, true}.
{hipe, false}.
{erlang_deprecated_types, false}.

%% Ad-hoc directories with source files
{tools, false}.

%% Dependencies
{odbc, false}.
{mysql, false}.
{pgsql, true}.
{sqlite, false}.
{pam, false}.
{zlib, true}.
{riak, false}.
{redis, true}.
{elixir, false}.
{iconv, true}.

%% Version
{vsn, "0.0"}.

%% Variables for overlay template files

%% Platform-specific installation paths
{release, true}.
{release_dir, "${SCRIPT_DIR%/*}"}.
{sysconfdir, "{{release_dir}}/etc"}.
{installuser, ""}.
{erl, "{{release_dir}}/{{erts_vsn}}/bin/erl"}.
{epmd, "{{release_dir}}/{{erts_vsn}}/bin/epmd"}.
{localstatedir, "{{release_dir}}/var"}.
{libdir, "{{release_dir}}/lib"}.
{docdir, "{{release_dir}}/doc"}.

{latest_deps, false}.

{ldflags, "-L/usr/local/Cellar/openssl/1.0.2p/lib/ -L/usr/local/Cellar/libyaml/0.1.7/lib/"}.
{cflags, "-I/usr/local/Cellar/openssl/1.0.2p/include -I/usr/local/Cellar/libyaml/0.1.7/include"}.
{cppflags, "-I/usr/local/Cellar/openssl/1.0.2p/include -I/usr/local/Cellar/libyaml/0.1.7/include"}.

%% Local Variables:
%% mode: erlang
%% End:
%% vim: set filetype=erlang tabstop=8:
